@{
    ViewData["Title"] = "Details Page";
}
@model WebApplicationDapper.Models.Product

<h1>Product Details</h1>

<div>
    <h4>Product ID: @Model.Id</h4>
    <h4>Name: @Model.Name</h4>
    <h4>Price: @Model.Price</h4>
    <h4>CreatedAt: @Model.CreatedAt</h4>
    <!-- 其他產品詳細信息 -->
</div>
